.custom-loading {
  --background: #e3edff;
  --spinner-color: #1c6dff;
  color: #1c6dff;
}

.ion-padding {
  --background: #ffffff;
}

.ion-toolbar {
  --background: #0b3d91;
}

.ion-title {
  --color: white;
}

.ion-button {
  margin: 10px 0;
}
