/* ion-range {
  --bar-background: #a2d2ff;
  --bar-background-active: #bde0fe;
  --bar-height: 8px;
  --bar-border-radius: 8px;
  --knob-background: #ffc8dd;
  --knob-size: 40px;
  --pin-background: #cb1759;
  --pin-color: #fff;
  --pin-border-radius: 1px;
  --pin-width: 200px;
  --pin-padding: 10px;
} */

.ion-range::part(tick) {
  /* background: #a2d2ff; */
}

.ion-range::part(tick-active) {
  /* background: #bde0fe; */
}

.ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  background: #410eea;
  color: #ffffff;
  transform: scale(1.01);

  top: -40px;
  z-index: 2;
  min-width: 90px;
  width: auto;
  height: auto;
  border-radius: 2px;
  padding-inline: 10px;
  transition: transform 120ms ease, background 120ms ease;
}

.ion-range::part(pin)::before {
  content: none;
  /* z-index: 1;
  content: "";
  width: 2px;
  height: 500px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%); */
}

.ion-range::part(knob) {
  background: #480ecf;
}

/* ion-range::part(bar) {
  background: #a2d2ff;
} */

/* ion-range::part(bar-active) {
  background: #0bec4e;
} */
