ion-range {
  --bar-background: var(--ion-color-primary);
  --bar-background-active: var(--ion-color-primary);
  --bar-height: 5px;
  --bar-border-radius: 5px;
  --knob-size: 30px;
}

.ion-range {
  align-self: center;
}

.ion-range::part(tick) {
  background: var(--ion-color-primary);
}

.ion-range::part(tick-active) {
  background: var(--ion-color-primary);
}

.ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  background: var(--ion-color-primary);
  color: #ffffff;
  transform: scale(1.01);

  top: -55px;
  z-index: 12;
  min-width: 75px;
  width: auto;
  height: auto;
  border-radius: 2px;
  padding-inline: 10px;
  transition: transform 120ms ease, background 120ms ease;
}

.ion-range::part(pin)::before {
  content: none;
}

.ion-range::part(knob) {
  background: var(--ion-color-primary);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ion-range::part(pin)::after {
  z-index: 1;
  content: "";
  width: 2px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: calc(200px / -2);
  left: 50%;
  transform: translate(-50%, -50%);
}
