terra-button.logout::part(base) {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.spinner {
  height: auto;
}

.popover {
  --width: 300px;
  --height: auto;
  --offset-x: -10px;
}

.popoverContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.username {
  width: 50%;
}
